.square {
    background: #fff;
    border: 1px solid #000;
    float: left;
    font-size: 68px;
    font-weight: bold;

    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    line-height: 80px;
    height: 80px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}
